<div class="attorneys attorneys-style1">
    <div class="container">
        <div class="title-section text-center">
            <h3 class="flat-title">Our Attorney</h3>
            <p class="sub-title">Dolore magna aliqu onoet enim ad minim veniam</p>
        </div>
        <div class="attorneys-details">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-start">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Johnson Doe</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/01.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-center">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Hannan Crespos</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/02.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-end">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Ayesha Olivia</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/03.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-start">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Johnson Doe</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/04.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-center">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Hannan Crespos</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/05.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-end">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Ayesha Olivia</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/06.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-start">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Johnson Doe</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/07.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-center">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Hannan Crespos</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/08.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="attorneys-info attorneys-hv-link mg-60 custom-align custom-end">
                        <div class="attorneys-content">
                            <div class="content-wrap rotate-1">
                                <h3 class="name"><a href="#">Ayesha Olivia</a></h3>
                                <p class="position">Senior Attorney</p>
                            </div>
                        </div>
                        <div class="attorneys-avatar hv-link-content">
                            <div class="image">
                                <img src="images/attorneys/09.png" alt="images">
                            </div>
                            <div class="overlay-box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- attorneys -->
<div class="featured-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="content">
                    <h6 class="title">Lets solve your problem today</h6>
                    <p>Lorem ipsum dolor sit amet, consecte dunt ut labore</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="fl-btn">
                    <a href="#" class="hvr-vertical">read more</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- featured-banner -->