
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <h2 class="title-banner">contact</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit sed do eius mod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="breadcrumb">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="contact clearfix">
    <div class="container">
        <div class="contact-us">
            <div class="title-section text-center">
                <h3 class="flat-title">Connect With Us</h3>
                <p class="sub-title">Dolore magna aliqu onoet enim ad minim veniam</p>
            </div>
            <div class="contact-options">
                <div class="icon-box">
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="content-info">
                        <h4 class="name">Address</h4>
                        <div class="info-wrap">
                            <p>20 Bardeshi, Amin Bazar Savar, Dhaka</p>
                        </div>
                    </div>
                </div>
                <div class="icon-box border-both-sides">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="content-info">
                        <h4 class="name">Phone Number</h4>
                        <div class="info-wrap">
                            <p>+234 567 8901</p>
                            <p>+234 567 8902</p>
                        </div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="content-info">
                        <h4 class="name">Email Address</h4>
                        <div class="info-wrap">
                            <p>Hello@finelaw.com</p>
                            <p>sales@finelaw.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- contact -->
<div class="write-something">
    <div class="container">
        <div class="title-section text-center">
            <h3 class="flat-title">Write Us Something</h3>
        </div>
        <form action="#" class="form-message-pct">
            <div class="text-wrap d-md-flex clearfix">
                <div class="wr-sm">
                    <input type="text" class="your-name" placeholder="Your name">
                </div>
                <div class="wr-sm">
                    <input type="text" class="your-email" placeholder="Your email">
                </div>
                <div class="wr-sm">
                    <input type="text" class="your-phone" placeholder="Your phone">
                </div>
            </div>
            <textarea name="comment" id="comment-message" rows="8" placeholder="Write your message here"></textarea>
            <div class="fl-btn">
                <button class="hvr-vertical">send now</button>
            </div>
        </form>
    </div>
</div><!-- write-something -->
<div class="flat-map">
    
</div><!-- flat-map -->