<footer id="footer" class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget widget-contact mg-footer-mbb">
                            <h2 class="widget-title">Contact</h2>
                            <div class="content">
                                <ul>
                                    <li><span class="text address">20, Bardeshi, Amin Bazar Savar, Dhaka - 1348</span></li>
                                    <li><span class="text phone">123.456.7890</span></li>
                                    <li><span class="text email">hello@finelaw.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget widget-services mg-footer-mbb">
                            <h2 class="widget-title">About</h2>
                            <div class="content">
                                <ul class="widget-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Practice Area</a></li>
                                    <li><a href="#">Help Guide</a></li>
                                    <li><a href="#">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget widget-services mg-footer-mbs">
                            <h2 class="widget-title">Help Desk</h2>
                            <div class="content">
                                <ul class="widget-menu">
                                    <li><a href="#">Customer Care</a></li>
                                    <li><a href="#">Legal Help</a></li>
                                    <li><a href="#">Service</a></li>
                                    <li><a href="#">Donation</a></li>
                                    <li><a href="#">Child Care</a></li>
                                    <li><a href="#">Presonal Care</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget widget-newsletter">
                            <h2 class="widget-title">Newsletter</h2>
                            <div class="content">
                                <p>Polore eu fugiat nulla pariatur Excepteur sint occaecat cupidat at non tomake bole</p>
                                <form action="#" class="form-email-footer">
                                    <input type="text" class="your-email" placeholder="Your email">
                                    <button class="btn-email">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="widget widget-text mg-footer-mbb">
                            <div class="content">
                                <div class="images-logo">
                                    <img src="images/footer/07.png" alt="images">
                                </div>
                                <p>
                                    Naboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proiden
                                </p>
                                <div class="list-socials">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <div class="widget widget-gallery mg-footer-mbs clearfix">
                            <h2 class="widget-title">Gallery</h2>
                            <div class="content">
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/01.png" alt="images">
                                </div>
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/02.png" alt="images">
                                </div>
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/03.png" alt="images">
                                </div>
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/04.png" alt="images">
                                </div>
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/05.png" alt="images">
                                </div>
                                <div class="images-gallery hv-gallery-icon">
                                    <div class="overlay-gallery">
                                        <div class="item-link">
                                            <a href="#" class="popup-gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <img src="images/footer/06.png" alt="images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-7 col-sm-7">
                        <div class="widget widget-twitter">
                            <h2 class="widget-title">Recent Tweets</h2>
                            <div class="content">
                                <div class="tw-wrap">
                                    <div class="text-link">
                                        Lco lodoami tomader lok amitomader vai amar ar kisu naikeho <a href="#">http://bit.ly/7asF34</a>
                                    </div>
                                    <div class="text-time"><a href="#">@Fine Law</a>   -   2 hours ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="bottom-wrap">
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <div class="copyright">
                                <a href="templateshub.net">Templateshub</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-footer">
                                <ul>
                                    <li><a href="#">Terms & Condition</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Legal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="scroll-top" class="show"></a>
</footer><!-- footer -->