<div id="loading-overlay">
    <div class="loader"></div>
</div>
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <ul class="flat-information d-lg-flex align-items-center">
                    <li class="email"><a href="#" title="Email">hello@finelaw.com</a></li>
                    <li class="address"><a href="#" title="Address">20 Bardeshi, Amin Bazar, Dhaka</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="flat-contact-us d-lg-flex align-items-center">
                    <a href="#" class="phone">123.456.7890</a>
                    <a href="#" class="cosulting hvr-vertical">FREE COSULTING
                        <div class="border-animate">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottomb"></div>
                            <div class="left"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- top-bar -->
<header id="header" class="header bg-color">
    <div class="container">
        <div class="flex-header">
            <div class="content-menu">
                <div class="nav-wrap">
                    <div class="btn-menu"><span></span></div>
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li>
                                <a href="/lans" class="active">Home</a>
                            </li>
                            <li>
                                <a href="/2about">About</a>
                            </li>
                            <li>
                                <a href="/2pracarea">Practice Area</a>
                            </li>
                            <li>
                                <a href="/2attorney">Attorneys</a>  
                            </li>
                            <li>
                                <a href="/2contact">Contact</a>
                            </li>           
                            
                            <li>
                                <a href="/">PAGE 1</a>
                            </li>                              
                        </ul>                                   
                    </nav>
                </div>
                <div class="flat-show-search">
                    <div class="show-search">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>                                             
                    </div>   
                    <div class="top-search">  
                        <div>                      
                            <form action="#" id="searchform-all" method="get">
                                <input type="text" id="s" class="ss" placeholder="Search...">
                                <button class="search-submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- header -->